<h1><i class="fa fa-tasks"></i> {{ pipeline.name }}</h1>
<h4 style="margin-top: 0;color: #aaa;font-weight: normal;margin-bottom: 30px;"><i class="fa fa-code"></i> {{ project.name }}</h4>

<div class="row">
  <div class="col-md-3" ng-include="'/app/views/pipeline/nav.html'"></div>

  <!-- Right column -->
  <div class="col-md-9">

    Extension settings

    <pre>{{settings | json }}</pre>

    <div ng-repeat="ext in settings">
      <div class="panel panel-default" ng-repeat="group in ext">
        <div class="panel-heading">{{ group.name }}</div>
        <table class="table">
          <tr ng-repeat="setting in group.settings">
            <td>{{setting.name}}</td>
            <td><input type="text" ng-model="setting.value"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
