<div class="list-group">
  <a ui-sref="configure-pipeline({id: pipeline.id})" class="list-group-item" ui-sref-active="active"><i class="fa fa-list-ul"></i> Stage + Var Configuration</a>
  <a ui-sref="pipeline-extension-settings({id: pipeline.id})" class="list-group-item" ui-sref-active="active"><i class="fa fa-cogs"></i> Pipeline Extension Settings</a>
  <a ui-sref="pipeline-settings({id: pipeline.id})" class="list-group-item" ui-sref-active="active"><i class="fa fa-cog"></i> Pipeline Settings</a>
  <!--<a href="#" class="list-group-item"><i class="fa fa-comment"></i> Notifications</a>-->
</div>
